	/*
  	Flaticon icon font: Flaticon
  	Creation date: 20/01/2021 18:22
  	*/

@font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff2") format("woff2"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
  font-family: Flaticon;
        font-size: 20px;
font-style: normal;
margin-left: 20px;
}

.flaticon-info:before { content: "\f100"; }
.flaticon-audio:before { content: "\f101"; }
.flaticon-frame:before { content: "\f102"; }
.flaticon-multimedia:before { content: "\f103"; }
.flaticon-picture:before { content: "\f104"; }
.flaticon-settings:before { content: "\f105"; }
.flaticon-virtual-reality:before { content: "\f106"; }
.flaticon-switch-to-full-screen-button:before { content: "\f107"; }
.flaticon-question-mark:before { content: "\f108"; }
.flaticon-close:before { content: "\f109"; }